.card-holder {
  padding:15px;
  height:50px;
  position:relative;
}
.card-holder.over {
  background-color:grey;
}
.card{
  height:50px;
  width:30px;
  border-radius:4px;
  transition: all 0.3s ease-in-out;
  transition-property: transform, opacity;
  box-shadow: 1px 1px 1px #666;
  -moz-box-shadow: 1px 1px 1px #666;
  -webkit-box-shadow: 1px 1px 1px #222;
  border: 0.5px solid #666;
}
.card:hover {
  transform: translate(0,-10px);
}
.card-holder-h>.card {
  display:inline-block;
}
.card-holder-h>.card:not(:first-child) {
  margin-left:-1em;
}
.card-holder-v{
  display:inline-block;
  vertical-align: top;
  height:auto;
  width:30px;
}
.card-holder-v>.card:not(:first-child) {
  margin-top:-2.5em;
}
.yellow.card {
  background: #ffe500;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #fff6aa, #ffe500); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #fff6aa, #ffe500); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #fff6aa, #ffe500); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #fff6aa, #ffe500); /* Standard syntax */
}
.red.card {
  background: #f00;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #ff9797, #f00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #ff9797, #f00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #ff9797, #f00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #ff9797, #f00); /* Standard syntax */
}
.blue.card {
  background: #00f;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #a3a3ff, #00f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #a3a3ff, #00f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #a3a3ff, #00f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #a3a3ff,#00f); /* Standard syntax */
}
.green.card {
  background: #0f0;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #a8ffa8, #0f0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #a8ffa8, #0f0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #a8ffa8, #0f0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #a8ffa8, #0f0); /* Standard syntax */
}
